{% extends 'index.html' %} {% load static %} {% block contenido %}
<section class="page-section clearfix">
  <div class="container-fluid">
    <div class="row justify-content-center">

      {% if request.method == "POST"  %}

      <div class="col-3 text-center" style='background:grey;' >
        <h2 style="background:rgb(238, 139, 32);">Opciones</h2>

        
        <button class="btn w-100 mt-2" id='mat_'>MAT es menor a 0</button>
        <button class="btn w-100 mt-2" id='bul_'>BUL es menor a 0</button>
        <button class="btn w-100 mt-2" id='bod_'>BOD es menor a 0</button>
        <button class="btn btn-danger mt-2" id='reload'>Borrar flitros</button>
      </div>
      <div class="col-9 bg-white " style=' overflow: scroll;'>
        {{merge|safe}}
      </div>
      {% else %}
       <div class="card text-center" style='background:grey;'>
        <div class="card-header" style='background:rgb(238, 139, 32);'>
          <h1>Cargar los documentos.</h1>
        </div>

        <div class="card-body">
         

          <form
            action="{% url 'traspaso' %}"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="row justify-content-center">
             <div class="row justify-content-center mt-3">
              <div class="col-5  ">

                <ul class="list-group list-group-flush">
                 
                  <li class="list-group-item"  style='background:#dfdfdc;'><strong>STOCK MINIMO</strong></li>
                  <li class="list-group-item"  style='background:#dfdfdc;'>ARCHIVO ERP:</li>
           
    
                  <li class="list-group-item"  style='background:#dfdfdc;'>" stockmin.xlsx "</li>
                </ul>
                 <input
                type="file"
                title="Stock minimo"
                name="stock_minimo"
                class="form-control"
                required="required"
              />
              </div>
              <div class="col-5">

                <ul class="list-group list-group-flush">
                  <li class="list-group-item"  style='background:#dfdfdc;'><strong>STOCK ACTUAL</strong></li>
                  <li class="list-group-item"  style='background:#dfdfdc;'>ARCHIVO ERP:</li>
           
    
                  <li class="list-group-item"  style='background:#dfdfdc;'>" stockactual.xlsx "</li>
                </ul>
                 <input
                type="file"
                title="Stock actual"
                name="stock_actual"
                class="form-control"
                required="required"
              />
              </div>
             </div>
           
               <div class="col-4 mt-3">
                    <input type="submit" class="btn" value="Enviar" style='background:rgb(238, 139, 32);'>

             </div>

             
              
            </div>
            

            
          </form>
        </div>
      </div>
      {% endif %}

     
    </div>
   
  </div>
</section>

{% endblock %} {% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/r-2.2.9/rr-1.2.8/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.5/r-2.2.9/rr-1.2.8/datatables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"></script>


<script src="https://cdn.datatables.net/plug-ins/1.11.3/api/sum().js"></script>

<script>
  
  $(document).ready(function () {

    var table = $(".dataframe").DataTable( {
     
  
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json'
  },  dom: 'Bfrtip',
    buttons: [

        'excel',
        'print',
        'colvis'
    ],

    } );

    $('#calcular').click(function() {
      precio=table.column( 3 ).data().sum();
      cantidad=table.column( 8 ).data().sum();
        $('#total_precio').val(Intl.NumberFormat().format(precio*cantidad))
    } );


  $('#min_mat, #max_mat').keyup( function() {
        table.draw();
    } );

   
    $("#mat_").click(function() {  

                   

            alert('Seleccionado');
          
            var indexes = table
          .rows()
          .indexes()
          .filter( function ( value, index ) {
            return parseInt(table.row(value).data()[3]) >= 0;
          } );
  
     table.rows(indexes).remove().draw();

            alert("Está activado");  

    });  

    $("#bul_").click(function() {  
                   

            alert('Seleccionado');
          
            var indexes = table
          .rows()
          .indexes()
          .filter( function ( value, index ) {
           
            return parseInt(table.row(value).data()[4]) >=0;
          } );
  
          table.rows(indexes).remove().draw();

            alert("Está activado");  
    });  
 
    $("#bod_").click(function() {  
                   

                   alert('Seleccionado');
                 
                   var indexes = table
                 .rows()
                 .indexes()
                 .filter( function ( value, index ) {
                  
                   return parseInt(table.row(value).data()[5]) >=0;
                 } );
         
                 table.rows(indexes).remove().draw();
       
                   alert("Está activado");  
           });  
        
    $('#reload').click(function() {
    location.reload();
});



  });

  
</script>
{% endblock extra_js %}
